{% load static i18n %}
<footer>
        <div class="wrapper__footer" style="background-color:black;">
            <div class="container">
                <div class="row">
                    <!-- ADDRESS -->
                    <div class="col-md-4">
                        <div class="widget__footer">
                            <figure>
                                <img src="{% static 'footerlogo.png' %}" alt="" class="logo-footer">
                            </figure>
                            <p>
                            </p>

                            <ul class="list-unstyled mb-0 mt-3">
                                <li> <b> <i class="fa fa-map-marker"></i></b><span>Tepe Mah Barbaros Cad No : 203 Marmaris / Muğla</span> </li>
                                <li> <b><i class="fa fa-phone-square"></i></b><span>+90 (252) 413 94 33</span> </li>
                                <li> <b><i class="fa fa-phone-square"></i></b><span>0049 152 537 849 81</span> </li>
                                <li> <b><i class="fa fa-headphones"></i></b><span>info@bestchoiceyachting.com</span> </li>
                            </ul>
                        </div>

                    </div>
                    <!-- END ADDRESS -->

                    <!-- QUICK LINKS -->
                    <div class="col-md-4">
                        <div class="widget__footer">
                            <h4 class="footer-title">Yat Kiralama</h4>
                            <div class="link__category-two-column">
                                <ul class="list-unstyled ">
                                    <li class="list-inline-item">
                                        <a href="#">Kiralık Guletler</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">Kiralık Katamaranlar</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">Kiralık MotorYatlar</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">Kiralık Yelkenliler</a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#">Satılık Katamaranlar</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">Satılık Guletler</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">Satılık MotorYatlar</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">Satılık Yelkenliler</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">Rotalar</a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#">Türk Kıyıları</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">Yunan Adaları</a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#">Blog</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">İletişim</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END QUICK LINKS -->


                    <!-- NEWSLETTERS -->
                    <div class="col-md-4">
                        <div class="widget__footer">
                            <h4 class="footer-title">Sosyal Medya</h4>
                            <p class="mb-2">
                                En Son Paylaşımlarımızdan Haberdar Olun
                            </p>
                            <p>
                                <button class="btn btn-social btn-social-o facebook mr-1">
                                    <i class="fa fa-facebook-f"></i>
                                </button>



                                <button class="btn btn-social btn-social-o instagram mr-1">
                                    <i class="fa fa-instagram"></i>
                                </button>


                            </p>
                            <br>


                        </div>
                    </div>
                    <!-- END NEWSLETTER -->
                </div>
            </div>
        </div>

    </footer>
     <!-- SCROLL TO TOP -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TO TOP -->