{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>{{product.title}} | Best Choice Yachting</title>

<meta name="keywords" content="" />

<meta name="description" content="" />


<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>
<meta name="googlebot" content="index,follow"/>

{% endblock %}




{% block content %}
<div class="bg-theme-overlay">
            <section class="section__breadcrumb ">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8 text-center">
                            <h2 class="text-capitalize text-white">{{product.title}}</h2>
                        </div>
                    </div>
                </div>
            </section>
        </div>



 <section class="single__Detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="slider__image__detail-large owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">

                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image2 %}{{ product.image2.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image3 %}{{ product.image3.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>

                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image4 %}{{ product.image4.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image5 %}{{ product.image5.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image6 %}{{ product.image6.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image7 %}{{ product.image7.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image8 %}{{ product.image8.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image9 %}{{ product.image9.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image10 %}{{ product.image10.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image11 %}{{ product.image11.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image12 %}{{ product.image12.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image13 %}{{ product.image13.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image14 %}{{ product.image14.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image15 %}{{ product.image15.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image16 %}{{ product.image16.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image17 %}{{ product.image17.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-large-one">
                                <img src="{% if product.image18 %}{{ product.image18.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                    </div>

                    <div class="slider__image__detail-thumb owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image2 %}{{ product.image2.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image3 %}{{ product.image3.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image4 %}{{ product.image4.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image5 %}{{ product.image5.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image6 %}{{ product.image6.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image7 %}{{ product.image7.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image8 %}{{ product.image8.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image9 %}{{ product.image9.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image10 %}{{ product.image10.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image11 %}{{ product.image11.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image12 %}{{ product.image12.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image13 %}{{ product.image13.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image14 %}{{ product.image14.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image15 %}{{ product.image15.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image16 %}{{ product.image16.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image17 %}{{ product.image17.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider__image__detail-thumb-one">
                                <img src="{% if product.image18 %}{{ product.image18.url }}{% else %}{% endif %}" alt="" class="img-fluid w-100 img-transition">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9 col-lg-9">
                            <div class="single__detail-title mt-4">
                                <h3 class="text-capitalize">{{product.name}}</h3>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <div class="single__detail-price mt-4">
                                <h3 class="text-capitalize text-gray">{{product.general_price}} €</h3>
                            </div>

                        </div>
                    </div>
                    <!-- DESCRIPTION -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single__detail-desc">
                                <h6 class="text-capitalize detail-heading">{{product.title}}</h6>
                                <div class="">
                                    <p>{{product.info | safe}}
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <!-- PROPERTY DETAILS SPEC -->
                            <div class="single__detail-features">
                                <h6 class="text-capitalize detail-heading">Tekne Özelliklerimiz</h6>
                                <!-- INFO PROPERTY DETAIL -->
                                <div class="property__detail-info">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <ul class="property__detail-info-list list-unstyled">
                                                <li><b>{% trans 'Üretici' %} :</b> {{product.producer}}</li>
                                                <li><b>{% trans 'Model' %} :</b> {{product.model}} Kişilik</li>
                                                <li><b>{% trans 'Yılı' %} :</b>{{product.year}}</li>
                                                <li><b>{% trans 'Bayrak' %} :</b> {{product.flag}}</li>
                                                <li><b>{% trans 'Uzunluk' %} :</b> {{product.meter}}</li>
                                                <li><b>{% trans 'Beam' %} :</b> {{prodcut.beam}}</li>
                                                <li><b>{% trans 'Draft' %} :</b> {{product.draft}}</li>
                                                <li><b>{% trans 'Genişlik' %} :</b> {{product.length}} </li>
                                                <li><b>{% trans 'Ağırlık' %} :</b> {{product.weight}}</li>
                                                <li><b>{% trans 'Sertifika' %} :</b> {{product.certificate}}</li>
                                                <li><b>{% trans 'FirstLaunch' %} :</b> {{product.firstLaunch}}</li>
                                                <li><b>{% trans 'Durum' %} :</b> {{product.status}}</li>
                                                <li><b>{% trans 'Kabin' %} :</b> {{product.cabin}}</li>
                                                <li><b>{% trans 'Wc' %} :</b> {{product.wc}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <ul class="property__detail-info-list list-unstyled">
                                                <li><b>{% trans 'Satış Tipi' %} :</b> {{product.saleType}}r</li>
                                                <li><b>{% trans 'Satış' %} :</b> {{product.sale}} </li>
                                                <li><b>{% trans 'Dümen' %} :</b> {{product.rudder}}</li>
                                                <li><b>{% trans 'Motor Üreticisi' %} :</b> {{product.motorCompany}}</li>
                                                <li><b>{% trans 'No Of Engines' %} :</b> {{product.noOfEngines}}</li>
                                                <li><b>{% trans 'Motor Çalışma Saati' %} :</b> {{product.engineHours}}</li>
                                                <li><b>{% trans 'Hp' %} :</b> {{product.hp}}r</li>
                                                <li><b>{% trans 'Yakıt' %} :</b> {{product.fuel}} </li>
                                                <li><b>{% trans 'Tekne Gövde' %} :</b> {{product.boatHull}}</li>
                                                <li><b>{% trans 'Yakıt Kapasitesi' %} :</b> {{product.fuelCapacity}}</li>
                                                <li><b>{% trans 'Temiz Su Kapasitesi' %} :</b> {{product.waterCapacity}}</li>
                                                <li><b>{% trans 'Metarial Deck' %} :</b> {{product.metarialDeck}}</li>
                                                <li><b>{% trans 'Headroom' %} :</b> {{product.headroom}}</li>
                                                <li><b>{% trans 'Durum' %} :</b> {{product.cabin}}</li>
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                                <!-- END INFO PROPERTY DETAIL -->
                            </div>
                            <!-- END PROPERTY DETAILS SPEC -->
                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <!-- END DESCRIPTION -->
                </div>
                <div class="col-lg-4">

                    <div class="sticky-top">
                        <!-- PROFILE AGENT -->
                        <div class="profile__agent mb-30">
                            <div class="profile__agent__group">
                                <form method="post">
                                {% csrf_token %}
                                <div class="profile__agent__body">
                                    <div class="form-group">
                                        <input name="name" type="text" class="form-control" placeholder="{% trans 'İsminiz' %}" required>
                                    </div>
                                    <div class="form-group">
                                        <input name="telephone" type="text" class="form-control" placeholder="{% trans 'Telefon' %}" required>
                                    </div>
                                    <div class="form-group">
                                        <input name="email" type="email" class="form-control" placeholder="{% trans 'Email' %}" required>
                                    </div>
                                    <div class="form-group mb-0">
                                            <textarea name="text" class="form-control required" rows="5" required="required"
                                                placeholder="Sizleri [ Dinliyorum ]"></textarea>
                                    </div>
                                </div>
                                <div class="profile__agent__footer">
                                    <div class="form-group mb-0">
                                        <button type="submit" name="btnSubmit" class="btn btn-primary text-capitalize btn-block"> {% trans 'Teklif Al' %} <i
                                                class="fa fa-paper-plane ml-1"></i></button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SIMILIAR PROPERTY -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="similiar__item">
                        <h6 class="text-capitalize detail-heading">
                            {% trans 'Benzer Tekneler' %}
                        </h6>
                        <div class="similiar__property-carousel owl-carousel owl-theme">
                            {% for y in smilar %}
                            <div class="item">
                                <!-- TWO -->
                                <div class="card__image">
                                    <div class="card__image-header h-250">
                                        <div class="ribbon text-capitalize">{{y.category}}</div>
                                        <a href="{{y.get_absolute_url}}">
                                        <img src="{% if y.image %}{{ y.image.url }}{% else %}{% endif %}" alt="" class="img-fluid w100 img-transition">
                                        </a>
                                        <div class="info">{% trans 'Satılık</div>
                                    </div>
                                    <div class="card__image-body">

                                        <h6 class="text-capitalize">
                                            <a href="{{y.get_absolute_url}}">{{y.name}}</a>
                                        </h6>
                                         <ul class="list-inline card__content">
                                        <li class="list-inline-item">
                                            <span>
                                                {% trans 'Banyo' %} <br>
                                                <i class="fa fa-bath"></i> {{y.shower}}
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                {% trans 'Kişi' %} <br>
                                                <i class="fa fa-user"></i> {{y.person}}
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                {% trans 'Kabin' %} <br>
                                                <i class="fa fa-bed"></i> {{y.kabin}}
                                            </span>
                                        </li>
                                        <li class="list-inline-item">
                                            <span>
                                                {% trans 'Metre' %} <br>
                                                 <i class="fa fa-arrows-h"></i> {{y.meter}}
                                            </span>
                                        </li>
                                    </ul>
                                    </div>
                                    <div class="card__image-footer">
                                        <ul class="list-inline my-auto ml-auto">
                                            <li class="list-inline-item">

                                                <h6 class="text-primary">€ {{y.general_price}}</h6>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SIMILIAR PROPERTY -->
        </div>
    </section>

{% endblock %}


{% block jss %}
{% endblock %}